@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');

html {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px; }

h1,
h2, 
h3, 
h4 { 
    color: $dark-grayish-blue; 
    font-weight: 600;
}

p { 
    color: $grayish-blue;
    line-height: 1.6;
}

ul { list-style: none; }

a { text-decoration: none; color: inherit;}

.btn { font-family: inherit; }