@import './variables/';
@import './typography';
@import './mixins';

body {
    max-width: 1900px;
    margin: 0 auto;
    overflow-x: hidden;
    & > * {
        padding: 0 8vw;
        :focus { outline: 0; }
        @media screen and (max-width: 767px) {
            padding: 0 4.5vw; 
        }  
    }   
}

.header {
    padding-top: 60px;
    &::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background-image: url(/images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
    &__content {
        @include center-center;
    }
    @media screen and (max-width: 767px) {
        .logo { max-width: 50%; }
    }
}

.snippets {
    padding-top: 100px;
    &__main {
        @include center-center;
        padding-bottom: 65px;
        @media screen and (max-width: 767px) { 
            padding-bottom: 40px 
        }
    }
    &__hero {
        @include space;
        height: min-content;
        img {
            max-width: 70%;
            margin: auto 5% auto -15%;
            @media screen and (max-width: 767px) { 
                margin: auto;
                padding-bottom: 50px;
                max-width: 90%;
            }
        }    

        .feature__container {
            margin: auto 0;
            p {
                position: relative;
                top: -10px;    // Thought the space beneath the h4 was a little too much so moved p up 10px
            }
            @media screen and (max-width: 767px) {
                text-align: center; 
            }
        }
    }
}

.access {
    padding-top: 100px;
    &__main { 
        @include center-center;
        padding-bottom: 30px; 
    }
    img { 
        display: block; 
        margin: 0 auto; 
        max-width: 100%;
    }
}

.supercharge {
    text-align: center;
    padding-top: 50px;
    &__tools {
        @include space;
        padding-top: 70px;
        .tool {
            width: calc(95% / 3);
            img { height: 35px; }
            @media screen and (max-width: 767px) {
                width: 100%; 
            }
        }
    }
}

.partner__companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3%;
    padding-top: 110px; padding-bottom: 110px;
    img { 
       margin: auto;
       max-width: 87%;  // Making images a bit smaller
    }
    @media screen and (max-width: 767px) { 
        @include space;
        flex-direction: column;
        img { 
            max-width: 100%; 
            margin-bottom: 60px;
            &:last-of-type { margin-bottom: 0 }
        }
    }
}

.cta {
    @include center-center;
    padding-bottom: 130px;
}

.footer {
    background-color: hsla(201, 11%, 66%, 0.2);
    @include space;

    .resources {
        @include space;
        img { 
            max-height: 50px;
            align-self: center;
        }
        ul li {
            &:hover { color: $cyan; }
            &:nth-of-type(1) { margin-bottom: 12px; }
        }
        @media screen and (max-width: 767px) { 
            & ul { 
                padding: 0; 
                margin-bottom: -3px;
            }
        }
    }

    .socials {
        width: 140px;
        align-self: center;
        align-items: center;
        @include space;
        a {
            &:nth-child(1) i:hover { color: #3b5998; }
            &:nth-child(2) i:hover { color: #00acee; }
            &:nth-child(3) i:hover {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text; 
            }
            i { 
                font-size: 20px; 
                padding: 10px;
                border: 1px solid transparent;
                &:hover {
                    border-color: $cyan;
                    border-radius: 50%;  
                    transition: .25s ease;
                }
            }
        }
        @media screen and (max-width: 767px) { 
            padding-top: 25px; 
        }
    }

    @media screen and (max-width: 767px) {  // This MQ is for total footer section
        @include center-center; 
        padding-top: 25px; padding-bottom: 25px;
        .logo {
            margin-bottom: 25px;
        } 
    }
}

// Buttons
.btn {
    border: none;
    border-radius: 50px;
    color: #fff;
    height: 40px;
    padding: 0 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
    &-ios { 
        background-color: $cyan;
        border-bottom: 2px solid hsl(171, 60%, 40%);
        box-shadow: 0px 7px 10px hsla(171, 60%, 40%, 0.3); 
        margin-right: 6px;
    }
    &-mac { 
        background-color: $light-blue;
        border-bottom: 2px solid hsl(233, 80%, 63%);
        box-shadow: 0px 7px 10px hsla(233, 40%, 53%, 0.4);
    }
    &:hover { opacity: 0.85 }
    &:active { transform: scale(.985) }

    @media screen and (max-width: 767px) { 
        display: block;
        margin: 0 auto;
        width: 100%; max-width: 400px;
        &-ios { margin-bottom: 15px; }
    }
}