@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap");
html {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  color: #4c545d;
  font-weight: 600;
}

p {
  color: #9fabb2;
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 90%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  font-family: inherit;
}

body {
  max-width: 1900px;
  margin: 0 auto;
  overflow-x: hidden;
}

body > * {
  padding: 0 8vw;
}

body > * :focus {
  outline: 0;
}

@media screen and (max-width: 767px) {
  body > * {
    padding: 0 4.5vw;
  }
}

.header {
  padding-top: 60px;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header__content {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header__content {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header .logo {
    max-width: 50%;
  }
}

.snippets {
  padding-top: 100px;
}

.snippets__main {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 65px;
}

@media screen and (max-width: 767px) {
  .snippets__main {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .snippets__main {
    padding-bottom: 40px;
  }
}

.snippets__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

@media screen and (max-width: 767px) {
  .snippets__hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.snippets__hero img {
  max-width: 70%;
  margin: auto 5% auto -15%;
}

@media screen and (max-width: 767px) {
  .snippets__hero img {
    margin: auto;
    padding-bottom: 50px;
    max-width: 90%;
  }
}

.snippets__hero .feature__container {
  margin: auto 0;
}

.snippets__hero .feature__container p {
  position: relative;
  top: -10px;
}

@media screen and (max-width: 767px) {
  .snippets__hero .feature__container {
    text-align: center;
  }
}

.access {
  padding-top: 100px;
}

.access__main {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .access__main {
    max-width: 100%;
  }
}

.access img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.supercharge {
  text-align: center;
  padding-top: 50px;
}

.supercharge__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .supercharge__tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.supercharge__tools .tool {
  width: calc(95% / 3);
}

.supercharge__tools .tool img {
  height: 35px;
}

@media screen and (max-width: 767px) {
  .supercharge__tools .tool {
    width: 100%;
  }
}

.partner__companies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 3%;
  padding-top: 110px;
  padding-bottom: 110px;
}

.partner__companies img {
  margin: auto;
  max-width: 87%;
}

@media screen and (max-width: 767px) {
  .partner__companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .partner__companies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .partner__companies img {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .partner__companies img:last-of-type {
    margin-bottom: 0;
  }
}

.cta {
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 130px;
}

@media screen and (max-width: 767px) {
  .cta {
    max-width: 100%;
  }
}

.footer {
  background-color: rgba(159, 171, 178, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer .resources {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .resources img {
  max-height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer .resources ul li:hover {
  color: #26baa4;
}

.footer .resources ul li:nth-of-type(1) {
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .footer .resources ul {
    padding: 0;
    margin-bottom: -3px;
  }
}

.footer .socials {
  width: 140px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .socials a:nth-child(1) i:hover {
  color: #3b5998;
}

.footer .socials a:nth-child(2) i:hover {
  color: #00acee;
}

.footer .socials a:nth-child(3) i:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer .socials a i {
  font-size: 20px;
  padding: 10px;
  border: 1px solid transparent;
}

.footer .socials a i:hover {
  border-color: #26baa4;
  border-radius: 50%;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

@media screen and (max-width: 767px) {
  .footer .socials {
    padding-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .footer {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer .logo {
    margin-bottom: 25px;
  }
}

.btn {
  border: none;
  border-radius: 50px;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.btn-ios {
  background-color: #26baa4;
  border-bottom: 2px solid #29a391;
  -webkit-box-shadow: 0px 7px 10px rgba(41, 163, 145, 0.3);
          box-shadow: 0px 7px 10px rgba(41, 163, 145, 0.3);
  margin-right: 6px;
}

.btn-mac {
  background-color: #6173ff;
  border-bottom: 2px solid #5567ec;
  -webkit-box-shadow: 0px 7px 10px rgba(87, 98, 183, 0.4);
          box-shadow: 0px 7px 10px rgba(87, 98, 183, 0.4);
}

.btn:hover {
  opacity: 0.85;
}

.btn:active {
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
}

@media screen and (max-width: 767px) {
  .btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
  }
  .btn-ios {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=main.css.map */